.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
/* Contenu principal */
main {
  padding: 20px 0;
}

.intro {
  text-align: center;
  margin-bottom: 40px;
}

.intro h2 {
  margin-bottom: 10px;
  font-size: 2em;
}

.intro p {
  font-size: 1.2em;
  color: #666;
}