.btn {
    background-color: rgba(45, 230, 32, 0.877);
    width: 100px;
    padding: 10px;
    border-radius: 20px;   
    border: none;
    color: #000;
    height: 50px;
}

.btn:hover{
    background-color: #000;
    color: rgba(45, 230, 32, 0.877);
}

